:root {
  --main-grey: #363946;
  --main-red: #177f75;
  --main-white: #ecf2f0;
  --main-blue: #7f5417;
  --main-lt-blue: #b67721;
  --main-pink: #ffeef2;
  /* --main-header-font:  */
  --main-header-font: "Be Vietnam", sans-serif;
  /* --main-body-font: "Be Vietnam", sans-serif; */
  --main-body-font: "Roboto Slab", serif;
  --main-display-font: "Be Vietnam", sans-serif;
  --main-display-font: "Marcellus", serif;
  --main-gold: #b67721;
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.disp-font {
  font-family: var(--main-display-font);
  font-weight: 900;
  text-decoration: underline;
  color: var(--main-grey);
}

header {
  text-align: center;
  position: absolute;
  /* z-index: 0; */
  width: 100%;
  height: 35vw;
}
form {
  margin-top: 15vw;
}
section {
  position: relative;
  /* z-index: +1; */
}

.head-font {
  font-family: var(--main-header-font);
  color: var(--main-grey);
}
.gold-bg {
  background-color: var(--main-gold);
}
.label-font {
  font-family: var(--main-body-font);
  font-weight: 600;
  color: var(--main-grey);
}

.body-font {
  font-family: var(--main-body-font);
  color: var(--main-grey);
}

.inline-block {
  display: inline-block;
}

/* .main-margin {
  margin-left: 30vw;
  margin-right: 30vw;
} */
.reqd-note {
  margin-bottom: 5vw;
  text-align: center;
}
.form-bg-padding {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5vw;
}

.dark-bg {
  background-color: var(--main-red);
}
.lt-blue-bg {
  background-color: var(--main-white);
}

.blue-bg {
  background-color: var(--main-white);
}
.light-bg {
  background-color: var(--main-white);
}

.card-padding {
  padding: 5vw;
}
/* .pink-bg {
  background-color: var(--main-pink);
} */
fieldset {
  border: 0;
}
/* input {
  border-top-right-radius: 25px;
} */
.card-margin {
  margin-bottom: 1vw;
}
/* label {
  background-color: var(--main-pink);
} */
/* .label-margin {
  margin-bottom: 1.5vw;
} */
.form-field {
  margin-top: 1vw;
  margin-bottom: 1vw;
}

input {
  display: block;
}

svg {
  width: calc(40px + 8vw);
}
